html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    overflow: hidden;
} 

body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    overflow: hidden; 
    height: 100%; 
    max-height: 100%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    background-color: #004466;
} 

#header { 
    top: 0; 
    left: 0; 
    width: 100%; 
    overflow: hidden; 
    color: #35d366;
    background-color: transparent; 
    height: 450px; 
    padding: 10px; 
    margin: 0px;
    font-family: Source Code Pro,sans-serif;
    z-index: 1000;

    flex-direction: column; 
    align-items: center; 

} 

fieldset {
    background-color: transparent;
    border: 2px solid #35d366;
    border-radius: 7px;
    margin:auto;   
}

legend {
    display: block;
    background-color: transparent;
    color: white;
    padding:  5px 10px;
    font-family: Source Code Pro,sans-serif;
}

#header h1 {
    margin: 0;
    padding-bottom: 0px;
    text-align: center;
    font-size: 32px;
    font-family: "Audiowide", sans-serif;
}

#header h1 .art {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

#header-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 300px;
    margin: 0 auto;
}

.control-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.input-group-horizontal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#header-form .control-panel .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}


#header-form .control-panel .input-group label {
    font-size: 28px;
    font-weight: bold;
    font-family: Source Code Pro,sans-serif;
}

#footer { 
    position: fixed; 
    width: 100%; 
    overflow: hidden; 
    color: white;
    top: auto; 
    bottom: 0; 
    height: 50px; 
    overflow: hidden; 
    background-color: #000000; 
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
} 

#maincontent { 
    position: absolute; 
    top: 350px; 
    left: 0; 
    right: 0; 
    bottom: 50px; 
    overflow: auto; 
    background: #00334d ; 
    border: 1px #35d366 solid;
    color: white;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    border-radius: 18px;

} 

.fig { 
    font-size: 10pt; 
    font-family: Monospace; 
    white-space: pre;
} 

#outputFigDisplay { 
    padding-top: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
} 

input[type="submit"] {
    background-color: #35d366;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    font-family: Source Code Pro,sans-serif;
    border: 1px solid #35d366;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #35d366;
    border-radius: 3px;
    background-color: #00334d;
    color: #fff;
    font-family: Source Code Pro,sans-serif;
}

textarea {
    width: 200px;
    height: 50px;
    resize: none; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #35d366;
    border-radius: 3px;
    background-color: #00334d;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #35d366;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    width: 100%;
    gap: 10px;
    
}

.submit-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    gap: 10px;
    
}

.submit-group input, .submit-group a {
    width: 50%;
}

#exportButton {
    background-color: #35d366;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    font-family: Source Code Pro, sans-serif;
    border: 1px solid #35d366;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

#exportButton:hover {
    background-color: #45a049;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
    .input-group-horizontal {
        flex-direction: row;
    }

    .input-group {
        flex-basis: 48%;
    }
    h1 {
    font-size: 5px;
    }
}

@media (min-width: 768px) {
    #header-form {
        flex-direction: row;
        align-items: flex-start;
    }

    .control-panel {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .submit-group {
        width: 100%;
    }
}


@media (max-width: 768px) {
    #header {
        height: 50%;
    }

    #maincontent {
        position: absolute;
        margin: 10px auto;
        top: 500px;
        width: 90%;
    }

    #header-form .control-panel .input-group label {
        font-size: 20px;
    }

    #header h1 {
        font-size: 28px;
    }

    fieldset {
        width: 70%;
        margin: auto;
    }
    #header-form {
        max-width: 700px;
        height: 400px;
    }

}


