html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    overflow: hidden;
} 

body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    overflow: hidden; 
    height: 100%; 
    max-height: 100%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
} 

#header { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    overflow: hidden; 
    color: #35d366;
    background-color: #2e3440; 
    height: 300px; 
    padding: 10px; 
    margin: 0px;
    font-family: Source Code Pro,sans-serif;
    
} 

fieldset {
    background-color: transparent;
    border: 2px solid #35d366;
    border-radius: 7px;
    margin:auto;
}

legend {
    display: block;
    background-color: transparent;
    color: white;
    padding:  5px 10px;
    font-family: Source Code Pro,sans-serif;
}

#header h1 {
    margin: 0;
    padding-bottom: 0px;
    text-align: center;
}

#header h1 .art {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

#header-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#header-form .control-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#header-form .control-panel .input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

#header-form .control-panel .input-group label {
    font-size: 20px;
    font-weight: bold;
    font-family: Source Code Pro,sans-serif;
}

#footer { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    overflow: hidden; 
    color: white;
    top: auto; 
    bottom: 0; 
    height: 50px; 
    overflow: hidden; 
    background-color: #000000; 
    color: white;
} 

#maincontent { 
    position: fixed; 
    top: 280px; 
    left: 0; 
    right: 0; 
    bottom: 50px; 
    overflow: auto; 
    background: black; 
    border: 3px #cccccc solid;
    color: white;
} 

.fig { 
    font-size: 10pt; 
    font-family: Monospace; 
    white-space: pre;
} 

#outputFigDisplay { 
    padding-top: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
} 

input[type="submit"] {
    background-color: transparent;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    font-family: Source Code Pro,sans-serif;
    border: 1px solid #35d366;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #35d366;
    border-radius: 3px;
    background-color: #222;
    color: #fff;
    font-family: Source Code Pro,sans-serif;
}

textarea {
    width: 200px;
    height: 50px;
    resize: none; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #35d366;
    border-radius: 3px;
    background-color: #222;
    color: #fff;
   ;font-family: 'Courier New', Courier, monospace;
}