html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    overflow: hidden;
} 

body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    overflow: hidden; 
    height: 100%; 
    max-height: 100%; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px;
    /* background-color: #264653; */
    background: linear-gradient(to bottom, #264653 400px, #1b313f 50%);
    min-height: 100vh; /* Ensure the body takes up the full height */
    margin: 0; /* Remove default margin */
    /* background-color: #2e3440; */
} 

#header { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    overflow: hidden; 
    color: #35d366;
    background-color: transparent; 
    height: 450px; 
    padding: 10px; 
    margin: 0px;
    font-family: Source Code Pro,sans-serif;
    
} 

fieldset {
    background-color: transparent;
    border: 2px solid #35d366;
    border-radius: 7px;
    margin:auto;
    /* padding: 30px; */
   
}

legend {
    display: block;
    background-color: transparent;
    color: white;
    padding:  5px 10px;
    /* padding: 10px 15px; */
    font-family: Source Code Pro,sans-serif;
    /* font-size: 24px; */
    /* margin-bottom: 20px; */
}

#header h1 {
    margin: 0;
    padding-bottom: 0px;
    text-align: center;
    font-size: 32px;
    font-family: "Audiowide", sans-serif;
}

#header h1 .art {
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

#header-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 300px;
    margin: 0 auto;
}

.control-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* gap: 20px; */
    width: 100%;
}

.input-group-horizontal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#header-form .control-panel .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* gap: 15px; */
    width: 100%;
}


#header-form .control-panel .input-group label {
    font-size: 28px;
    /* font-size: 22px; */
    font-weight: bold;
    font-family: Source Code Pro,sans-serif;
}

#footer { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    overflow: hidden; 
    color: white;
    top: auto; 
    bottom: 0; 
    height: 50px; 
    overflow: hidden; 
    background-color: #000000; 
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#maincontent { 
    position: fixed; 
    top: 460px; 
    left: 0; 
    right: 0; 
    bottom: 50px; 
    overflow: auto; 
    background: transparent; 
    border: 1px #35d366 solid;
    color: white;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    border-radius: 25px;
} 

.fig { 
    font-size: 10pt; 
    font-family: Monospace; 
    white-space: pre;
} 

#outputFigDisplay { 
    padding-top: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
} 

input[type="submit"] {
    background-color: transparent;
    color: white;
    font-size: 13pt;
    /* font-size: 15pt;  */
    font-weight: bold;
    font-family: Source Code Pro,sans-serif;
    border: 1px solid #35d366;
    padding: 10px 10px;
    /* padding: 12px 15px;  */
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

textarea, select {
    width: 100%;
    padding: 8px;
    /* padding: 12px; */
    margin-bottom: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #35d366;
    border-radius: 3px;
    background-color: #222;
    color: #fff;
    font-family: Source Code Pro,sans-serif;
    /* font-size: 16px */
}

textarea {
    width: 200px;
    height: 50px;
    /* height: 120px; */
    resize: none; 
    padding: 8px;
    /* padding: 8px; */
    margin-bottom: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #35d366;
    border-radius: 3px;
    background-color: #222;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 16px; */
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    /* width: 50px; */
    /* height:30px; */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    /* height: 22px;  */
    /* width: 22px;  */
    /* left: 4px; */
    /* bottom: 4px; */
}

input:checked + .slider {
    background-color: #35d366;
}

input:checked + .slider:before {
    transform: translateX(18px);
    /* transform: translateX(20px); */
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.input-group.submit-group {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
    .input-group-horizontal {
        flex-direction: row;
    }

    .input-group {
        flex-basis: 48%;
    }
}

@media (min-width: 768px) {
    #header-form {
        flex-direction: row;
        align-items: flex-start;
    }

    .control-panel {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .submit-group {
        width: 100%;
    }
}