<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div id="header">
        <h1>ASCII Art Generator</h1>
        <form method="post" action="/ascii-art" id="header-form">
            <div class="control-panel">
                <label for="text">Text:</label>
                <textarea id="text" name="text" placeholder="Enter Text">{{ .Text }}</textarea>
                <label for="banner">Banner:</label>
                <select id="banner" name="banner">
                    <option value="standard">Standard</option>
                    <option value="shadow">Shadow</option>
                    <option value="thinkertoy">Thinkertoy</option>
                </select>
                <input type="submit" value="Generate ASCII Art">
            </div>
        </form>
    </div>

    <div id="maincontent">
        <div id="outputFigDisplay">
            <pre>{{ .Result }}</pre>
        </div>
    </div>

    <div id="footer">
        <p>&copy; 2024 ASCII Art Generator</p>
    </div>
</body>
</html>
